<app-back-button></app-back-button>
<form nz-form [formGroup]="addForm" (ngSubmit)="submitForm()">
    <!--编号-->
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="number">教师工号</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="12">
                    <input nz-input formControlName="number" id="number" maxlength="8" minlength="8">
                </div>
            </div>
            <nz-form-explain *ngIf="addForm.get('number').dirty && addForm.get('number').errors?.required">
                工号必须要填写!
            </nz-form-explain>
            <nz-form-explain
                *ngIf="addForm.get('number').dirty && addForm.get('number').errors?.exist">
                工号已存在!
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <!--名称-->
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">教师名称</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="12">
                    <input nz-input formControlName="name" id="name">
                </div>
            </div>
            <nz-form-explain *ngIf="addForm.get('name').dirty && addForm.get('name').errors">名称必须要填写!
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="teacherList">选择需要上课的班级</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <div nz-row [nzGutter]="8">
                <div nz-col nzSpan="12">
                    <nz-select nzMode="tags" [(ngModel)]="klasses" nzPlaceHolder="请选择上课班级"
                               formControlName="klassList" [compareWith]="getCompareKlassEqual()">
                        <nz-option *ngFor="let klass of klassOptions" [nzLabel]="klass.name"
                                   [nzValue]="klass"></nz-option>
                    </nz-select>
                </div>
            </div>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="college">所属学院</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="12">
                    <input nz-input formControlName="college" id="college">
                </div>
            </div>
        </nz-form-control>
    </nz-form-item>

    <!--保存按钮-->
    <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" [disabled]="addForm.invalid">保存</button>
        </nz-form-control>
    </nz-form-item>
</form>
