<app-back-button></app-back-button>
<form nz-form [formGroup]="addForm" (ngSubmit)="submitForm()">
    <!--编号-->
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="number"  >学生学号</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="12">
                    <input nz-input formControlName="number" id="number" minlength="6" maxlength="6">
                </div>
            </div>
            <nz-form-explain *ngIf="addForm.get('number').dirty && addForm.get('number').errors?.required">
                学号必须要填写!
            </nz-form-explain>
            <nz-form-explain
                *ngIf="addForm.get('number').dirty && addForm.get('number').errors?.exist">
                学号已存在!
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <!--名称-->
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">学生姓名</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="12">
                    <input nz-input formControlName="name" id="name">
                </div>
            </div>
            <nz-form-explain *ngIf="addForm.get('name').dirty && addForm.get('name').errors">名称必须要填写!
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="college">班級</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="12">
                    <nz-select nzMode="default" nzPlaceHolder="请选择班级" formControlName="klass" [compareWith]="getCompareKlassEqual()">
                        <nz-option *ngFor="let option of klassOptions; trackBy: trackByFn" [nzLabel]="option.name"
                                   [nzValue]="option"></nz-option>
                    </nz-select>
                </div>
            </div>
        </nz-form-control>
    </nz-form-item>

    <!--保存按钮-->
    <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" [disabled]="addForm.invalid">保存</button>
        </nz-form-control>
    </nz-form-item>
</form>
